---
export interface Props {
  title: string;
  labels: Array<LabelProp>;
  academic?: boolean;
  current?: boolean;
  last?: boolean;
}

import Label from "component:cv/timeline/Label";
import BriefcaseIcon from "component:icons/heroicons/briefcase";
import AcademicCapIcon from "component:icons/heroicons/academic-cap";

interface LabelProp {
  css: string;
  text: string;
}

const {
  title,
  labels,
  academic = false,
  current = false,
  last = false,
} = Astro.props;
---

<div
  class={`relative flex ${
    last
      ? ""
      : "before:bg-black before:content-[''] before:h-full before:left-[1.125rem] before:absolute before:top-5 before:w-1"
  }`.trim()}
>
  <div class="z-10">
    <span
      class="mt-5 w-10 h-10 flex justify-center items-center border border-black rounded-full text-black bg-white"
    >
      {academic ? <AcademicCapIcon /> : <BriefcaseIcon />}
    </span>
  </div>
  <div class="flex-1 pl-4">
    <div
      class="relative mb-10 overflow-auto bg-white border-4 border-black shadow-square-left transition-shadow hover:shadow-square-right"
    >
      <div class="border-b border-black py-5 px-10">
        <div class="flex flex-wrap m-0 p-0 gap-4 justify-between items-center">
          <p class="text-xl">
            {title}
          </p>
          {current && (
            <span class="border border-emerald-900 bg-emerald-700 px-3 py-1 text-sm uppercase tracking-wider text-white">
              Actualmente
            </span>
          )}
        </div>
      </div>
      <div class="mb-0 p-10">
        <slot />
        <div class="flex flex-wrap gap-4 items-end justify-end">
          {labels.map((label: LabelProp) => {
            return <Label css={label.css} text={label.text} />;
          })}
        </div>
      </div>
    </div>
  </div>
</div>
