---
export interface Props {
  title: string;
  labels: Array<LabelProp>;
  academic?: boolean;
  current?: boolean;
  last?: boolean;
}

import Label from "component:cv/timeline/Label";

interface LabelProp {
  css: string;
  text: string;
}

const { title, labels, academic = false, current = false, last = false } = Astro.props;
---
<div class={`relative flex ${last ? "" : "before:bg-black before:content-[''] before:h-full before:left-[1.125rem] before:absolute before:top-5 before:w-1"}`.trim()}>
  <div class="z-10">
    <span class="mt-5 w-10 h-10 flex justify-center items-center border border-black rounded-full text-black bg-white">
      {academic ? (
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path d="M12 14l9-5-9-5-9 5 9 5z" />
          <path d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z" />
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222" />
        </svg>
      ) : (
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 13.255A23.931 23.931 0 0112 15c-3.183 0-6.22-.62-9-1.745M16 6V4a2 2 0 00-2-2h-4a2 2 0 00-2 2v2m4 6h.01M5 20h14a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
        </svg>
      )}
    </span>
  </div>
  <div class="flex-1 pl-4">
    <div
      class="relative mb-10 overflow-auto bg-white border-4 border-black shadow-square-left transition-shadow hover:shadow-square-right"
    >
      <div class="border-b border-black py-5 px-10">
        <div class="flex flex-wrap m-0 p-0 gap-4 justify-between items-center">
          <p class="text-xl">
            {title}
          </p>
          {current && <span class="uppercase text-white bg-emerald-700 border border-emerald-900 px-3 py-1 tracking-wider text-sm"
            >Actualmente</span
          >}
        </div>
      </div>
      <div class="mb-0 p-10">
        <slot />
        <div class="flex flex-wrap gap-4 items-end justify-end">
          {labels.map((label: LabelProp) => {
            return <Label css={label.css} text={label.text} />;
          })}
        </div>
      </div>
    </div>
  </div>
</div>