---
export interface Props {
  text: string;
  css?: string;
}

const { css = "", text } = Astro.props;
---

<span
  class={`text-xs shadow-square-left border px-3 py-1 ${css} print:shadow-none print:text-xs print:pr-1
  print:before:content-['#'] print:text-neutral-700 print:border-0 print:bg-slate-100`}
  >{text}
</span>
