---
export interface Props {
  snowflakes?: number;
}

/**
 * @description Basado en un codePen de `alphardex`:
 * @see https://codepen.io/alphardex/pen/dyPorwJ
 * @link presets/utils.js::SNOW_COUNT -> No debe ser mayor.
 */

const { snowflakes = 200 } = Astro.props;

const generateRandomInt = (max: number, min: number = 0): number => {
  return Math.floor(Math.random() * (max - min + 1) + min)
}
---

<div class="absolute inset-0 overflow-hidden motion-reduce:hidden">
  {[...Array(snowflakes).keys()].map((item) => {
    return <span
      class={`absolute w-3 h-3 bg-white rounded-full transform translate-y-3 z-10 dark:bg-white animate-fall-${item}`}
      style={`opacity: 0.${generateRandomInt(1000)}; transform: translate(${generateRandomInt(1000000) / 10000}vw, -0.75rem) scale(${generateRandomInt(10000) / 10000})`}
      ></span>
  })}
</div>