---
import BaseLayout from "layout:Base";
import CommandLine from "component:CommandLine";
---

<script>
  const { pathname } = window.location;
  document.addEventListener("DOMContentLoaded", () => {
    const commandElement = document.querySelector(".command");

    // In production, for some reason, if I don't do this check it runs twice.
    if (!commandElement.textContent) {
      commandElement.insertAdjacentText("beforeend", pathname);
    }
  });
</script>

<BaseLayout
  title="The page you are looking for does not exist"
  description="Did I do something wrong?"
  robots="noindex,nofollow"
>
  <section
    class="relative flex grow items-center justify-center overflow-hidden p-4"
  >
    <section
      class="relative z-10 max-w-lg border-4 border-zinc-900 bg-white p-4 shadow-square-left transition-shadow hover:shadow-square-right dark:border-zinc-200 dark:bg-transparent"
    >
      <CommandLine time={true} command="" />

      <p class="mb-1">
        <b>Page Not Found</b>.<br />
        Maybe you want to go to:
      </p>

      <ul class="mb-1 list-inside list-disc">
        <li>
          The <a
            href="/"
            class="inline font-bold underline decoration-viva-magenta decoration-2 underline-offset-4 transition-all hover:decoration-zinc-900"
            >home page</a
          >: origin of all things.
        </li>
        <li>
          The page with <a
            href="/resume/"
            class="inline font-bold underline decoration-viva-magenta decoration-2 underline-offset-4 transition-all hover:decoration-zinc-900"
            >my resume</a
          >: With relevant professional information.
        </li>
      </ul>

      <p class="mb-2">
        Or maybe you just wanted to see the 404 page, in that case, this is it.
      </p>

      <img
        src="/assets/confused-travolta.gif"
        alt="John Travolta confused"
        width={300}
        height={291}
        class="mx-auto block motion-reduce:hidden"
      />
    </section>
  </section>
</BaseLayout>
