---
import BaseLayout from '../layouts/Base.astro';
---

<BaseLayout
  title="Desarrollador y ninja"
  description="Padre de dos, pareja, deportista, ninja y programador Full Stack en continuo aprendizaje"
>
  <section class="absolute inset-0 p-4 flex items-center justify-center bg-green-200">
    <section class="bg-white max-w-lg p-4 border-4 border-black transition-shadow shadow-square-left hover:shadow-square-right">
      <span class="block">{"{"}</span>
      <span class="block ml-4">
        <span class="text-red-600">"main-branch"</span>: <h1 class="text-green-600 inline-block">"Ángel Guerra"</h1>,
      </span>
      <span class="block ml-4">
        <span class="text-red-600">"merged-branch"</span>: <span class="text-green-600">"<a href="https://www.instagram.com/regazofotografia/" target="_blank" rel="noopener noreferrer" class="underline" title="Instagram de Regazo Fotografía">@regazofotografia</a>"</span>,
      </span>
      <span class="block ml-4">
        <span class="text-red-600">"forks"</span>: <span class="text-yellow-600">2</span>,
      </span>
      <span class="block ml-4">
        <span class="text-red-600">"role"</span>: <span class="inline-block text-green-600">"Desarrollador FullStack"</span>,
      </span>
      <span class="block ml-4">
        <span class="text-red-600">"hobbies"</span>: <span class="inline-block text-green-600">"ninjutsu, kick boxing, anime"</span>,
      </span>
      <span class="block ml-4">
        <span class="text-red-600">"social"</span>: [
        <span class="block ml-4 text-indigo-600">"<a href="https://es.linkedin.com/in/angel-guerra-revilla" target="_blank" rel="noopener noreferrer me" class="underline" title="Mi perfil en LinkedIn">LinkedIn</a>",</span>
        <span class="block ml-4 text-indigo-600">"<a href="https://twitter.com/angellguerra" target="_blank" rel="noopener noreferrer me" class="underline" title="Mi perfil en Twitter">Twitter</a>",</span>
        <span class="block ml-4 text-indigo-600">"<a href="https://github.com/AngelGuerra" target="_blank" rel="noopener noreferrer me" class="underline" title="Mi perfil en GitHub">GitHub</a>"</span>
        ],
        <span class="block ml-4">
          <span class="text-red-600">"bio"</span>: <span class="inline text-green-600">"Desarrollador afincado en Cantabria, actualmente trabajo en <a href="" title="Página web de ITEISA" class="underline text-[#af1685]" rel="noopener noreferrer">ITEISA</a> donde utilizo sobretodo <strong>CakePHP</strong> y <strong>React</strong> como principales herramientas de desarrollo. Me considero una persona inquieta en cuanto al mundo de la programación se refiere así que, casi siempre, estoy probando cosas nuevas o cacharreando con alguna tecnología que surja."</span>,
        </span>
      </span>
      <span class="block">{"}"}</span>
    </section>
  </section>
</BaseLayout>
