---
import BaseLayout from "layout:Base";

import ExternalLink from "component:ExternalLink";
import CommandLine from "component:CommandLine";

import LinkedInIcon from "component:icons/simpleicons/linkedin";
import GithubIcon from "component:icons/simpleicons/github";
import TwitterIcon from "component:icons/simpleicons/twitter";
import LichessIcon from "component:icons/simpleicons/lichess";
---

<BaseLayout
  title="Desarrollador y ninja"
  description="Padre de tres, pareja, deportista, ninja y programador Full Stack en continuo aprendizaje"
>
  <section
    class="relative flex grow items-center justify-center overflow-hidden p-4"
  >
    <section
      class="relative z-10 max-w-lg border-4 border-zinc-900 bg-white p-4 shadow-square-left transition-shadow hover:shadow-square-right dark:border-zinc-200 dark:bg-transparent"
    >
      <CommandLine time={true} command="git config --list" />

      <ul class="mb-2">
        <li>user.name=Ángel Guerra</li>
        <li>user.hobbies=Ninjutsu | Kick Boxing | Anime | Ajedrez</li>
        <li>user.role=Full-StackDev</li>
        <li>user.currentSkills=Javascript | React | PHP | CakePHP</li>
        <li>core.editor=vscode</li>
        <li>
          <span title="Felizmente casado con">remote.origin.url</span
          >=<ExternalLink
            href="https://www.instagram.com/regazofotografia/"
            title="Instagram de Regazo Fotografía"
            text="@regazofotografia"
          />
        </li>
        <li>branch.main.remote=origin</li>
        <li><span title="Padre de">branch.main.forks</span>=3</li>
      </ul>

      <CommandLine command="cat bio.md" />

      <p>
        ## Bio<br /><br />
        Desarrollador afincado en Cantabria, actualmente trabajo en
        <ExternalLink
          href="https://iteisa.com/"
          title="Página web de ITEISA"
          css="text-[#af1685] decoration-[#af1685] dark:text-[#af1685]"
          text="ITEISA"
        />
        donde utilizo sobretodo <strong>CakePHP</strong> y
        <strong>React</strong> como principales herramientas de desarrollo. Me considero
        una persona inquieta en cuanto al mundo de la programación se refiere así
        que, casi siempre, estoy probando cosas nuevas o cacharreando con alguna
        tecnología que surja.
      </p>

      <div
        class="mt-6 flex flex-row items-center justify-between border-t-4 border-t-zinc-900 pt-6"
      >
        <div>
          <a
            href="https://es.linkedin.com/in/angel-guerra-revilla"
            target="_blank"
            rel="noopener"
            title="Mi perfil en LinkedIn"
          >
            <span
              class="sr-only mb-2 block font-bold underline decoration-viva-magenta decoration-2 underline-offset-4 transition-all hover:decoration-zinc-900"
              >LinkedIn</span
            >
            <LinkedInIcon css="h-12 w-12 transition-all hover:scale-105" />
          </a>
        </div>
        <div>
          <a
            href="https://twitter.com/angellguerra"
            target="_blank"
            rel="noopener"
            title="Mi perfil en Twitter"
          >
            <span
              class="sr-only mb-2 block font-bold underline decoration-viva-magenta decoration-2 underline-offset-4 transition-all hover:decoration-zinc-900"
              >Twitter</span
            >
            <TwitterIcon css="h-12 w-12 transition-all hover:scale-105" />
          </a>
        </div>
        <div>
          <a
            href="https://github.com/AngelGuerra"
            target="_blank"
            rel="noopener"
            title="Mi perfil en Github"
          >
            <span
              class="sr-only mb-2 block font-bold underline decoration-viva-magenta decoration-2 underline-offset-4 transition-all hover:decoration-zinc-900"
              >Github</span
            >
            <GithubIcon css="h-12 w-12 transition-all hover:scale-105" />
          </a>
        </div>
        <div>
          <a
            href="https://lichess.org/@/AngelGuerra"
            target="_blank"
            rel="noopener"
            title="Mi perfil en Lichess"
          >
            <span
              class="sr-only mb-2 block font-bold underline decoration-viva-magenta decoration-2 underline-offset-4 transition-all hover:decoration-zinc-900"
              >Lichess</span
            >
            <LichessIcon css="h-12 w-12 transition-all hover:scale-105" />
          </a>
        </div>
      </div>
    </section>
  </section>
</BaseLayout>
