---
import BaseLayout from '../layouts/Base.astro';
---

<BaseLayout
  title="Política de NO cookies"
  description="La política de cookies es... que no hay cookies :-)"
  robots="noindex,nofollow"
>
  <section class="grow p-4 flex items-center justify-center bg-indigo-200">
    <section class="bg-white max-w-lg p-4 border-4 border-black transition-shadow shadow-square-left hover:shadow-square-right">
      <span class="block">{"{"}</span>

      <span class="block ml-4">
        <span class="text-red-600">"cookies"</span>: <span class="text-amber-600">false</span>,
      </span>
      <span class="block ml-4">
        <span class="text-red-600">"status"</span>: <span class="text-amber-600">404</span>,
      </span>
      <span class="block ml-4">
        <span class="text-red-600">"reason"</span>: <span class="text-emerald-600">"Esta página web no utiliza cookies, me acaba de entrar hambre..."</span>
      </span>
      <span class="block">{"}"}</span>
    </section>
  </section>
</BaseLayout>
