---
import BaseLayout from "layout:Base";

import CommandLine from "component:CommandLine";
---

<BaseLayout
  title="Política de NO cookies"
  description="La política de cookies es... que no hay cookies :-)"
  robots="noindex,nofollow"
>
  <section
    class="relative flex grow items-center justify-center overflow-hidden p-4"
  >
    <section
      class="relative z-10 max-w-lg border-4 border-zinc-900 bg-white p-4 shadow-square-left transition-shadow hover:shadow-square-right dark:border-zinc-200 dark:bg-transparent"
    >
      <CommandLine time={true} command="find cookies" />

      <p class="mb-1">
        find: <i>cookies</i>: No existe el archivo o el directorio
      </p>
      <p>
        Es posible que el error se deba a que <b
          >ésta página web no utiliza ningún tipo de cookie</b
        >, si eres una persona celíaca, puedes seguir navegando puesto que es
        una página sin gluten.
      </p>
    </section>
  </section>
</BaseLayout>
