---
import BaseLayout from "layout:Base";

import CommandLine from "component:CommandLine";
---

<BaseLayout
  title="NO cookies policy"
  description="The cookie policy is... there are no cookies :-)"
  robots="noindex,nofollow"
>
  <section
    class="relative flex grow items-center justify-center overflow-hidden p-4"
  >
    <section
      class="relative z-10 max-w-lg border-4 border-zinc-900 bg-white p-4 shadow-square-left transition-shadow hover:shadow-square-right dark:border-zinc-200 dark:bg-transparent"
    >
      <CommandLine time={true} command="find cookies" />

      <p class="mb-1">
        find: <i>cookies</i>: No such file or directory
      </p>
      <p>
        It is possible that the error is due to the fact that <b
          >this website does not use any type of cookie</b
        >, if you are a person with celiac disease, you can continue browsing
        since it is a gluten-free website.
      </p>
    </section>
  </section>
</BaseLayout>
