---
import BaseLayout from "layout:Base";

import ExternalLink from "component:ExternalLink";
import Item from "component:uses/Item";
---

<BaseLayout
  title="Technologies I use in my day-to-day work as a developer"
  description="As a developer, I use multiple tools and software, here I try to put a list that allows you to know what I work with"
>
  <div class="h-full p-4">
    <section class="mx-auto mb-8 max-w-2xl">
      <h1 class="my-8 text-center text-2xl">
        What do I use in my day-to-day work as a developer?
      </h1>
      <p>
        Inspired by <ExternalLink
          href="https://wesbos.com/"
          title="Wes Bos webpage"
          text="Wes Bos"
        />' <ExternalLink
          href="https://uses.tech/"
          title="List of pages detailing configurations, equipment, developer's software (among other things)"
          text="uses.tech"
        /> project, I'm going to post here the tools I use in my daily life as a
        developer.
      </p>
      <p class="mt-2 text-sm">
        Thanks <ExternalLink
          href="https://ardi.land/"
          title="Adrián webpage"
          text="@ardillán"
        /> for telling me about the site.
      </p>
    </section>

    <Item title="Development">
      <p>
        On my personal laptop I have installed <strong>Manjaro</strong>
        <em>rolling release</em>, that is, with continuous development, without
        periodic releases. On my work laptop I have <strong
          >MacOS Ventura</strong
        >, I'm not an Apple fan but I'm not going to format the computer and put
        Ubuntu on it. Right? Right!? 😂
      </p>
      <p>
        My personal projects are in <strong>GitHub</strong> and for programming I
        use <strong>VSCode</strong>, in the terminal I feel more or less
        comfortable using <strong>Vim</strong>. Speaking of the terminal, I use <strgon
          >zsh</strgon
        > with <ExternalLink
          href="https://starship.rs/"
          text="Starship"
          title="Stardhip webpage"
          css="text-[#DD0B78] decoration-[#DD0B78]"
        /> installed on top of it.
      </p>
    </Item>

    <Item title="Communication">
      <p>
        Mainly at work I use <strong>Slack</strong>, in my day to day I use <strong
          >WhatsApp</strong
        > and <strong>Telegram</strong>, the former because I have no choice
        since the latter is my favorite. As an email provider I mainly use <strong
          >Gmail</strong
        > and <strong>Proton Mail</strong>, the latter because it is a more
        private alternative. In fact, I would like to use more "private"
        alternatives in all areas of the Internet.
      </p>
    </Item>

    <Item title="Browsing">
      <p>
        My main browsers are <strong>Chromium</strong> and <strong>Firefox Developer Edition</strong>, I never use Safari or Edge, the first one I don't like at all and the second one I don't have Windows. On my phone I use DuckDuckGo and Chrome for Android (I use a Xiaomi).
      </p>
    </Item>

    <Item title="Hardware">
      <p>
        My personal computer is a 2017 <strong>Huawei</strong> MateBook D, it has a 7th generation <strong>Intel</strong> i7 processor and a 15.6" screen, it goes fine except for a glitch with the touchpad that makes it, apparently randomly, stop working 😢. Nothing that a <strong>Trust Verto</strong> wireless mouse can't fix. When I work at home I connect it to a <strong>hp</strong> 27es monitor of, effectively, 27", I think I acquired it in 2016.
      </p>
    </Item>
  </div>
</BaseLayout>
