---
import BaseLayout from "layout:Base";

import ExternalLink from "component:ExternalLink";
import Item from "component:uses/Item";
---

<BaseLayout
  title="Tecnologías que utilizo en mi día a día como desarrollador"
  description="Como desarrollador, utilizo múltiples herramientas y software, aquí intento poner un listado que te permita conocer con qué trabajo"
>
  <div class="h-full p-4">
    <section class="mx-auto mb-8 max-w-2xl">
      <h1 class="my-8 text-center text-2xl">
        ¿Qué utilizo en mi día a día como desarrollador?
      </h1>
      <p>
        Inspirado por el proyecto
        <ExternalLink
          href="https://uses.tech/"
          title="Lista de páginas que detallan las configuraciones, equipo y software de los desarrolladores"
          text="uses.tech"
        />
        de
        <ExternalLink
          href="https://wesbos.com/"
          title="Página web de Wes Bos"
          text="Wes Bos"
        />, voy a ir poniendo aquí las herramientas que utilizo en mi día a día
        como desarrollador.
      </p>
      <p class="mt-2 text-sm">
        Gracias
        <ExternalLink
          href="https://ardi.land/"
          title="Página web de Ardillán"
          text="@ardillán"
        />
        por descubrirme la página.
      </p>
    </section>

    <Item title="Desarrollo">
      <p>
        En mi portátil personal tengo instalado
        <strong>Manjaro</strong>
        <em>rolling release</em>, es decir, con desarrollo contínuo, sin
        versiones periódicas. En mi portátil del trabajo tengo instalado
        <strong>Ubuntu 20.04</strong> ya que es el sistema operativo que más he utilizado
        para programar y me siento cómodo trabajando con él.
      </p>
      <p>
        Mis proyectos personales se encuentran en <strong>GitHub</strong> y para
        programar utilizo <strong>VSCode</strong>, en la terminal me siento más
        o menos cómodo utilizando <strong>Vim</strong>, pero sobretodo lo
        utilizo para hacer cambios en caliente en producción 😏.
      </p>
    </Item>

    <Item title="Comunicación">
      <p>
        Principalmente en el trabajo utilizo <strong>Discord</strong>, en mi día
        a día utilizo <strong>WhatsApp</strong>, <strong>Telegram</strong> y
        <strong>Signal</strong>, la primera porque no me queda más remedio ya
        que las dos últimas son mis preferidas. Como proveedor de correo
        electrónico utilizo principalmente <strong>Gmail</strong> pero poco a poco
        voy empezando a utilizar para las cosas más importantes
        <strong>Proton Mail</strong>. De hecho, me gustaría ir utilizando
        alternativas más "privadas" en todos los ámbitos de Internet.
      </p>
    </Item>

    <Item title="Navegación">
      <p>
        Relacionado con la privacidad que he comentado más arriba, mis
        navegadores preferidos son aquellos que están más orientados a eso... la
        privacidad. Rara vez, aunque cada vez más, utilizo <strong>Tor</strong>,
        pero mi navegador principal en los ordenadores es
        <strong>Firefox</strong> y, por el trabajo, también utilizo
        <strong>Chromium</strong> (<em
          >💭 ¿Llegará el día en el que no tengamos que estar preocupándonos de
          cómo queda la maquetación, que tanto sudor y esfuerzo nos ha llevado,
          en los distintos navegadores?</em
        >). En el <em>smartphone</em> utilizo, principalmente,
        <strong>DuckDuckGo</strong>.
      </p>
    </Item>

    <Item title="Hardware">
      <p>
        Mi ordenador personal es un <strong>Huawei</strong> MateBook D de 2017, tiene
        un procesador <strong>Intel</strong> i7 de 7ª generación y una pantalla de
        15,6", en su momento me costó 650€, va fino excepto por un fallo con el <em
          >touchpad</em
        > que hace que, aparentemente de forma aleatoria, éste deje de funcionar
        😢. Nada que un ratón inalámbrico
        <ExternalLink
          href="https://www.trust.com/es/product/22879-verto-ergonomic-wireless-mouse"
          text="Trust Verto"
          title="Detalle del producto"
        />
        no pueda solucionar. Cuando trabajo en casa lo conecto a un monitor
        <ExternalLink
          href="https://support.hp.com/es-es/document/c06028442"
          text="hp 27es"
          title="Detalle del producto"
        />
        de, efectivamente, 27", creo que lo adquirí en 2016 y el precio fueron unos
        250 o 300€. Como complementos, para conectar los monitores utilizo un
        <ExternalLink
          href="https://www.amazon.es/GANA-Switcher-Conmutador-Adaptador-DVD-Player/dp/B075R2DFJ1"
          text="switch de marca GANA"
          title="Producto en Amazon"
        />
        de 13€. El equipo de sonido es un
        <ExternalLink
          href="https://www.trust.com/es/product/19019-tytan-2-1-speaker-set-black"
          text="Trust 2.1"
          title="Detalle del producto"
        />
        del año... a saber, el precio, creo recordar, que no era muy elevado, unos
        60 u 80€.
      </p>
    </Item>
  </div>
</BaseLayout>
