---
import BaseLayout from '../layouts/Base.astro';
---

<BaseLayout
  title="Tecnologías que utilizo en mi día a día como desarrollador"
  description="Como desarrollador, utilizo múltiples herramientas y software, aquí intento poner un listado que te permita conocer con qué trabajo"
>
  <div class="p-4 bg-yellow-200 h-full">
    <section class="max-w-2xl mx-auto mb-8">
        <h1 class="text-2xl text-center my-8">/uses en mi día a día</h1>
        <p>Inspirado por el proyecto <a href="https://uses.tech/" target="_blank" rel="noopener" title="Lista de páginas que detallan las configuraciones, equipo y software de los desarrolladores" class="underline">uses.tech</a> de <a href="https://wesbos.com/" target="_blank" rel="noopener" title="Página web de Wes Bos" class="underline">Wes Bos</a>, voy a ir poniendo aquí las herramientas que utilizo en mi día a día como desarrollador.</p>
        <p class="text-sm mt-2">Gracias <a href="https://www.ardillan.com/" target="_blank" rel="noopener" title="Página web de Ardillán" class="underline">@ardillán</a> por descubrirme la página.</p>
    </section>

    <section class="max-w-2xl mx-auto p-4 mb-8 bg-white border-4 border-black transition-shadow shadow-square-left hover:shadow-square-right">
        <h2 class="text-center text-xl mb-4">Desarrollo</h2>
        <p>En mi portátil personal tengo instalado <strong>OpenSUSE Tumbleweed</strong>, una versión <em>rolling release</em>, es decir, con desarrollo contínuo, sin versiones periódicas. En mi portátil del trabajo tengo instalado <strong>Ubuntu 20.04</strong> ya que es el sistema operativo que más he utilizado para programar y me siento cómodo trabajando con él.</p>
        <p>Mis proyectos personales se encuentran en <strong>GitHub</strong> y para programar utilizo <strong>VSCode</strong>, en la terminal me siento más o menos cómodo utilizando <strong>Vim</strong>, pero sobretodo lo utilizo para hacer cambios en caliente en producción &#13025;.</p>
    </section>

    <section class="max-w-2xl mx-auto p-4 mb-8 bg-white border-4 border-black transition-shadow shadow-square-left hover:shadow-square-right">
        <h2 class="text-center text-xl mb-4">Comunicación</h2>
        <p>Principalmente en el trabajo utilizo <strong>Discord</strong>, en mi día a día utilizo <strong>WhatsApp</strong>, <strong>Telegram</strong> y <strong>Signal</strong>, la primera porque no me queda más remedio ya que las dos últimas son mis preferidas. Como proveedor de correo electrónico utilizo principalmente <strong>Gmail</strong> pero poco a poco voy empezando a utilizar para las cosas más importantes <strong>Proton Mail</strong>. De hecho, me gustaría ir utilizando alternativas más "privadas" en todos los ámbitos de Internet.</p>
    </section>

    <section class="max-w-2xl mx-auto p-4 mb-8 bg-white border-4 border-black transition-shadow shadow-square-left hover:shadow-square-right">
        <h2 class="text-center text-xl mb-4">Navegación</h2>
        <p>Relacionado con la privacidad que he comentado más arriba, mis navegadores preferidos son aquellos que están más orientados a eso... la privacidad. Rara vez, aunque cada vez más, utilizo <strong>Tor</strong>, pero mi navegador principal en los ordenadores es <strong>Firefox</strong> y, por el trabajo, también utilizo <strong>Chromium</strong> (<em>&#128173; ¿Llegará el día en el que no tengamos que estar preocupándonos de cómo queda la maquetación, que tanto sudor y esfuerzo nos ha llevado, en los distintos navegadores?</em>). En el <em>smartphone</em> utilizo, principalmente, <strong>DuckDuckGo</strong>.</p>
    </section>

    <section class="max-w-2xl mx-auto p-4 mb-8 bg-white border-4 border-black transition-shadow shadow-square-left hover:shadow-square-right">
        <h2 class="text-center text-xl mb-4">Hardware</h2>
        <p>Mi ordenador personal es un <strong>Huawei</strong> MateBook D de 2017, tiene un procesador <strong>Intel</strong> i7 de 7ª generación y una pantalla de 15,6", en su momento me costó 650€, va fino excepto por un fallo con el <em>touchpad</em> que hace que, aparentemente de forma aleatoria, éste deje de funcionar &#128546;. Nada que un ratón inalámbrico <a href="https://www.trust.com/es/product/22879-verto-ergonomic-wireless-mouse" rel="noopener noreferrer" target="_blank" class="underline">Trust Verto</a> no pueda solucionar. Cuando trabajo en casa lo conecto a un monitor <a href="https://support.hp.com/es-es/document/c06028442" rel="noopener noreferrer" target="_blank" class="underline"><strong>hp</strong> 27es</a> de, efectivamente, 27", creo que lo adquirí en 2016 y el precio fueron unos 250 o 300€. Como complementos, para conectar los monitores utilizo un <a href="https://www.amazon.es/GANA-Switcher-Conmutador-Adaptador-DVD-Player/dp/B075R2DFJ1" rel="noopener noreferrer" target="_blank" class="underline">switch de marca GANA</a> de 13€. El equipo de sonido es un <a href="https://www.trust.com/es/product/19019-tytan-2-1-speaker-set-black" rel="noopener noreferrer" target="_blank" class="underline">Trust 2.1</a> del año... a saber, el precio, creo recordar, que no era muy elevado, unos 60 u 80€.</p>
    </section>
  </div>
</BaseLayout>
