@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: theme("width.2");
}

::-webkit-scrollbar-track {
  background-color: theme("backgroundColor.gray.400");
}

::-webkit-scrollbar-thumb {
  background-color: theme("backgroundColor.emerald.600");
}

::-webkit-scrollbar-thumb:hover {
  background-color: theme("backgroundColor.emerald.800");
}
