---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<section
  class="container mx-auto mb-8 border-4 border-black bg-white p-4 shadow-square-left transition-shadow hover:shadow-square-right"
>
  <h2 class="mb-4 text-center text-xl">{title}</h2>
  <slot />
</section>
